body {
	background-color:#FFF;
	margin:0;
}
.topo {
	height:80px;
	background-color:#000;
}
.menu {
	height:40px;
	background-color:orange;
}
.container {
	min-height:200px;
	background-color:#FFF;
}
.rodape {
	height:80px;
	background-color:blue;
}